ng-on-destroy: here we are doing some routing when we navigate to other component it will called and destroy that
component
<br>
<nav class="nav-bar">
    <ul class="nav-bar-ul">
        <li class="nav-bar-list">
            <a class="nav-bar-item" routerLink="/home" routerLinkActive="active">Home</a>
            <a class="nav-bar-item" routerLink="/signup" routerLinkActive="active">signup</a>
            <a class="nav-bar-item" routerLink="/contact" routerLinkActive="active">contact</a>
        </li>
    </ul>
</nav>