<nav class="nav-bar">
    <ul class="nav-items">
        <li class="item">
            <a routerLink="/products" routerLinkActive="active">Products</a>
            <a routerLink="/products" routerLinkActive="active" [queryParams]="{category:'Men'}">Mens</a>
            <a routerLink="/products" routerLinkActive="active" [queryParams]="{category:'Women'}">Womens</a>
            <a routerLink="/products" routerLinkActive="active" [queryParams]="{category:'Electronics'}">Electronics</a>
            <a routerLink="/products" routerLinkActive="active" [queryParams]="{category:'Home Appliances'}">Home
                Appliances</a>
            <button (click)="navigateToHome()">Home</button>
        </li>
    </ul>
</nav>