Class-Binding: This is the one-way binding technique using this we can apply classes conditionally
<br>
using boolean flag we can apply class this will apply class when boolean flag is true
<br>
<h1 [class.active]="isActive">Class Binding</h1>
<br>
using ternary operator we can apply claases conditionally this will apply classes different based on true or false
<br>
<h1 [class]="isActive ? 'active': 'inactive'">Class Binding</h1>
<br>
this will help us to apply multiple classes just like we have to paas array of classes here
<br>
<h1 [class]="['active','border']">class binding</h1>