Interpolation
<br>
<app-interpolation></app-interpolation>
<br>
Property-Binding
<br>
<app-property-binding></app-property-binding>
<br>
Class-Binding
<br>
<app-class-binding></app-class-binding>
<br>
Style-Binding
<br>
<app-style-binding></app-style-binding>
<br>
Event-Binding
<app-event-binding></app-event-binding>
<br>
two-way-binding
<app-two-way-binding></app-two-way-binding>
<br>
ngIf-directive
<br>
<app-ng-if-directive></app-ng-if-directive>
<br>
ngFor-directive
<br>
<app-ng-for-directive></app-ng-for-directive>
<br>
counter application<br>
<app-counter-app></app-counter-app>
<br>
ngSwitch
<br>
<app-ng-switch></app-ng-switch>
<br>
pipes:-
<br>
1.inbuilt pipes
<br>
<app-inbuilt-pipes></app-inbuilt-pipes>
<br>
2.custom pipes
<br>
<app-custom-pipe></app-custom-pipe>
<br>
template-reference-variable
<br>
<app-temp-ref-var></app-temp-ref-var>
<br>
Parent-to-child communication
<br>
<app-parent></app-parent>
<br>
Dynamic table using parent to child communication
<app-table></app-table>
<br>
Dynamic tab structure using child to parent communication
<app-tab></app-tab>
<br>
Age-calculator-App using child to parent communication
<app-age-calculator></app-age-calculator>
<br>
simple chat application using input and output decorators(parent to child,child to parent)
<br>
<app-parent-chat-box></app-parent-chat-box>
<br>
<br>
Todo list App using child to parent and parent to child communication
<br>
<br>
<app-task-list></app-task-list>
<br>
template-reference-variable(child-parent)
<br>
<app-trv-parent></app-trv-parent>
<br>
<br>
view-child(child-parent)
<app-parent-view-child></app-parent-view-child>
<br>
<br>
counter app using view-child
<br>
<app-parent-counter></app-parent-counter>
<br>
<br>
dynamic-tab-using template reference vraible(child to parent)
<app-parent-tab-trv></app-parent-tab-trv>
<br>
view-child-ref
<br>
<app-view-child-ref></app-view-child-ref>
<br>
view-child vs view-children
<app-view-child-vs-view-children></app-view-child-vs-view-children>
<br>
routing:- routing in angular means redirecting or navigating from one component to other components.
<br>
<!-- <app-header></app-header> -->
route parameters:- we can see individual details beased on id's using route parameters.
<br>
query-parameters:- we can use queryparams directive and passed someobject key value pair for filtering something.
<br>
<app-products-header></app-products-header>
<br>
http module: using http module we can perform crud operations and fetching data from api or urls.
<br>
<app-http-module-component></app-http-module-component>
<br>
route guards: it will helpful for protecting the components while navigating to different components we can give
authentication
<app-route-guard-header></app-route-guard-header>
<br>
Observables: observables is nothing but stream of data from api that we need to subscribe and use in our applications.
<br>
it will accept 3 parameters next,error,and complete.and we use it for asynchornous operations as well.make sure we must
unsubscribe the subscription reference of the observable.
<br>
<app-observable></app-observable>
<br>
content projection: passing data from parent to child dynamically and use it multiple times wherever we need with
different data but same component.
<br>
<app-capture></app-capture>
<br>
ng-container: we will use this whenever we dont want to repeat the div tags we just want to display content inside it.
<br>
<app-ngcontainer></app-ngcontainer>
<br>
ng-template: we will display data conditionally using structural directives without structural directives it wont
display any content inside it.
<br>
<app-ngtemplate></app-ngtemplate>
<br>
template-driven-forms:
<br>
<app-simple-form-control></app-simple-form-control>
<br>
reactive forms:
<br>
<app-reactive-forms-validations></app-reactive-forms-validations>
<br>
form array:
<br>
<app-form-array></app-form-array>
<br>
form-builder with custom validations and async validations
<br>
<app-form-builder></app-form-builder>
<br>
signuform using template driven forms
<br>
<app-signup-form></app-signup-form>
<br>
async pipe: - if we return an promise or observable that time if we dont subscribe for it we can use async pipe is
template for displaying data
<br>
<app-async-pipe></app-async-pipe>
<br>
custom-attribute directive:- using directive selector we can apply any styles
<br>
<app-custom-directive></app-custom-directive>
<br>
custom-structural directive: using this we can create our own structural directives like *ngif,*ngfor,*ngswitch
<br>
<app-custom-structural-directive></app-custom-structural-directive>
<br>
<app-reactive-form></app-reactive-form>
<router-outlet></router-outlet>