Interpolation
<br>
<app-interpolation></app-interpolation>
<br>
Property-Binding
<br>
<app-property-binding></app-property-binding>
<br>
Class-Binding
<br>
<app-class-binding></app-class-binding>
<br>
Style-Binding
<br>
<app-style-binding></app-style-binding>
<br>
Event-Binding
<app-event-binding></app-event-binding>
<br>
two-way-binding
<app-two-way-binding></app-two-way-binding>
<br>
ngIf-directive
<br>
<app-ng-if-directive></app-ng-if-directive>
<br>
ngFor-directive
<br>
<app-ng-for-directive></app-ng-for-directive>
<br>
counter application<br>
<app-counter-app></app-counter-app>
<br>
ngSwitch
<br>
<app-ng-switch></app-ng-switch>
<br>
pipes:-
<br>
1.inbuilt pipes
<br>
<app-inbuilt-pipes></app-inbuilt-pipes>
<br>
2.custom pipes
<br>
<app-custom-pipe></app-custom-pipe>
<br>
template-reference-variable
<br>
<app-temp-ref-var></app-temp-ref-var>
<br>
Parent-to-child communication
<br>
<app-parent></app-parent>
<br>
Dynamic table using parent to child communication
<app-table></app-table>
<br>
Dynamic tab structure using child to parent communication
<app-tab></app-tab>
<br>
Age-calculator-App using child to parent communication
<app-age-calculator></app-age-calculator>
<br>
simple chat application using input and output decorators(parent to child,child to parent)
<br>
<app-parent-chat-box></app-parent-chat-box>
<br>
<br>
Todo list App using child to parent and parent to child communication
<br>
<br>
<app-task-list></app-task-list>
<br>
template-reference-variable(child-parent)
<br>
<app-trv-parent></app-trv-parent>
<br>
<br>
view-child(child-parent)
<app-parent-view-child></app-parent-view-child>
<br>
<br>
counter app using view-child
<br>
<app-parent-counter></app-parent-counter>
<br>
<br>
dynamic-tab-using template reference vraible(child to parent)
<app-parent-tab-trv></app-parent-tab-trv>
<br>
view-child-ref
<br>
<app-view-child-ref></app-view-child-ref>
<br>
view-child vs view-children
<app-view-child-vs-view-children></app-view-child-vs-view-children>
<br>
<router-outlet></router-outlet>