<p>rxjs-creation-operators works!</p>
<br>
creation operators: creation operators will use to create observable data
<br>
there are some creation rxjs operators in angular
<br>
1.of: of will accept any data with comma seperated.if we give array it will display in single line.if we give comma
seperated data it will iterate and display
<br>
2.from : from will accept only iterable data like arrays and string it will iterate every element in that data.
<br>
it will accept only single data either array of any data or string data
<br>
3.range: range will accept 2 parameters one is (start(optional) and count(from start to how many values)).
<br>
4.interval: interval will work like setinterval it will generate new values from 0 for every time interval that we set.