child-parent-communication: this will use when we want to emit some event to parent from child we will use this communication
<br>
we mainly require 3 things 1.ouput 2.event emitter 3.event binding

<app-dynamic-tab [tabsArray]="tabsArray" (currentActiveTabIndex)="getActiveTabIndex($event)"></app-dynamic-tab>

<div *ngIf="activatedTabIndex==0">
  <h1>this is tab1 data</h1>
</div>

<div *ngIf="activatedTabIndex==1">
<h1>this is tab2 data</h1>
</div>

<div *ngIf="activatedTabIndex==2">
<h1>this is tab3 data</h1>
</div>

<div *ngIf="activatedTabIndex==3">
<h1>this is tab4 data</h1>
</div>

<div *ngIf="activatedTabIndex==4">
<h1>this is tab5 data</h1>
</div>

