style-binding: this is the one-way binding technique from modal to view
<br>
by using this we can apply any style property we can also apply multiple style properties same here like object we have to pass
<br>
<h1 [style]="{color:'red'}">Hello world</h1>
<br>
we can also apply style from modal variables we can also multiple styles same like this but if more than one style we will pass into array of styles and no need style.color etc.
<br>
<h1 [style.color]='color'>Hello world</h1>
<br>
we can also apply styles conditionally using ternary operator
<br>
<h1 [style.color]="hasError ? 'red' : 'green'">Hello world</h1>

